* {
	margin:0;
	padding: 0;
	border: 0;
}

header {
	background: beige;
	padding: 10px 0;
	position: fixed;
	left: 0;
	right: 0;
}

header nav ul li {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: bold;
}

header nav a:hover {
	color: blue;
}

.hero-image-section {
	background-image: url("../images/hero-image.jpg");
	background-attachment: fixed;
	background-size: cover;
	padding: 200px 0;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 6.250em;
	color: white;
	text-align: center;
  text-shadow: 1px 1px 1px grey;
}

img lccd-logo.png{
	padding-bottom: 330px;
}

.home-image img {
  height: 250px;
  max-width: 250px;
	border: 6px solid grey;
	border-radius: 50px 20px;
	box-shadow: 5px 5px 5px 5px beige;
	animation: rotate 5s linear;
}

.home-image {
	font-size: .0625em;
  padding-top: 33px;
}

.home-image:hover {
	color: white;
}



figure {
	width: 100%;
}

h1 {
	text-align: center;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0;
	background-color: beige;
}

.services {
	padding: 65px 0;
}

.services h1 {
	font-size:  2.500em;
	text-align: center;
}

/* Pseudo Element */
.services h1::after {
	content: " Story";
	font-weight: bold;
}

.services {
	text-align: center;
}

.service-types {
	max-width: 900px;
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
}

p:hover {
	background-color: beige;
}

.projects {
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
	font-size: 6.250em;
	padding: 100px 100px 100px 100px;
	background-color: #f49B95;
	}

.projects img {
	border: 5px solid lightblue;
	border-radius: 50px 20px;
}

.third-section {
  width: 400px;
  float: left;
  padding: 70px 20px;

}

.third-page {
	font-size: 20px;
	text-align: center;
}

.third-page img {
  width: 200px;
  height: 160px;
}

h2 {
	color: white;
	border: 5px solid white;
}

.third-page img{
	animation: rotate 5s linear;
}

.fourth-page {
  max-width: 900px;
	margin: 0 auto;
	text-align: center;
	font-size: 6.250em;
	padding: 100px 100px 100px 100px;
	background-color: #20B2AA;
}

.contact {
	background: url("../images/entertainment.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: bottom;
	background-color: lightblue;
	padding:500px 0;
  text-align: center;
  font-size: 10px;
	color: black;
  padding-top: 50px;
  font-size: 16px;
}

.contact h1 {
  font-size: 100px;
}

.lcdd {
	backgroundcolor: lightblue 40%;
	padding:
}

label.label_input_wrap {
  vertical-align: top;
  display: block;
  margin: 0 auto;
  padding: 10px 0;
}

input,
textarea {
  border: 8px solid beige;
  padding: 9px 11px;
  text-decoration-color: lightblue;
}

 input[type="submit"] {
  width: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  text-align: center;
}

footer nav ul li {
	display: inline;
	font-family: 'Montserrat', sans-serif;
}

footer {
	background: beige;
}


@media (min-width: 900px) {
  .home-image {
    display: flex;
  }
}


@keyframes rotate {
	0% {
		transform: rotatex(90deg);
	}

	50% {
		transform: rotatex(0);
	}

}
